html {
  background: url(https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
   no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.age-ver {
  padding: 15%;
  text-align: center;
}

#infopanel {
  background-color: darkgray;
  width: 70%;
  height: 60%;
  padding-top: 50px;
}

.container {
  text-align: center;
}

.dob {
  text-align: center;
}

.submit-btn {
  bottom: 10px;
}

.uk-modal-dialog {
  background: darkgray;
  color: white;
}

.uk-modal-title {
  color: white;
}
