html {
  background: url(https://images.unsplash.com/photo-1513189737554-b1bbd839b9a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
   no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.age-ver {
  padding: 15%;
  text-align: center;
}

#infopanel {
  background-color: darkgray;
  width: 70%;
  height: 60%;
  padding-top: 5%;
}

.container {
  text-align: center;

}

.dob {
  text-align: center;
}

.submit-btn {
  bottom: 10px;
}

.uk-modal-dialog {
  background: darkgray;
  color: white;
}

.uk-modal-title {
  color: white;
}

#infocontent {
  font-size: 16pt;
}

#infowelcome {
  font-size: 30pt;
}